@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.hero_navbar{
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero_logo{
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.hero_links ul{
    display: flex;
    align-items: center;
    gap: 12px;
}

.hero_links li, a{
    list-style-type: none;
    text-decoration: none;
    color: #e5e7eb;
}

.hero_main{
    background-color: #1F2937;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.hero_main .left_content{
    display: flex;
    flex-direction: column;
    width: 450px;
}

.left_content .left_main_text{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.left_content .left_sub_text{
    font-size: 18px;
    color: #e5e7eb;
}

.left_content button{
    width: 128px;
    margin-top: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:32px;
    padding-right:32px;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 16px;
    
    border-radius: 8px;
}

.right_content{
    background-color: grey;
    width: 400px;
    height: 300px;
}

.right_content p{
    color: #e5e7eb;
    align-self: center;
}

.info_container{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding-top: 30px;
}

.info_container .info_title{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-bottom: 20px;
}

.info_placeholder_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
}

.info_placeholder{
    width: 150px;
    height: 150px;
    border-radius: 8px;
    background-color: white;
    border-style: solid;
    border-color: #3882f6;
    margin-top: 10px;
    margin-bottom: 10px;
}

.info_subtext{
    text-align: center;
    width: 150px;
    margin-bottom: 80px;
}

.quote_container{
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
}

.quote_text{
    font-size: 36px;
    font-style: italic;
    width: 800px;
    margin-top: 80px;
    align-self: center;
}

.quote_by{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 80px;
    align-self: center;
    margin-left: 500px;
}

.call_container{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: #3882f6;
    display: flex;
    border-radius: 16px;
}

.call_left .call_title{
    color: #f9faf8;
    font-size: 22px;
    font-weight: bold;
}

.call_left .call_subtext{
    margin-top: 10px;
    color: #f9faf8;
    font-size: 16px;
}

.call_right .call_button{
    width: 128px;
    margin-top: 16px;
    margin-left: 160px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:32px;
    padding-right:32px;
    border-color: white;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 16px;
    border-radius: 8px;
}